* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* header */
header {
    text-align: right;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 100;
    padding-top: 30px;
    padding-right: 20px;
}
header .button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
    margin-left: 30px;
    /* senza uso del button */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 50px;
    vertical-align: middle;
}
/* header .button a {
    text-decoration: none;
    color: black;
    font-size: 18px;
} */

/* box */
.box {
    height: 100vh;
    width: 100%;
    position: relative;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
.box img {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-65%);
}
.box h2 {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%,-50%);
    font-size: 40px;    
}
.textgreen {
    color: green;
}
.textyellow {
    color: yellow;
}